div.row {
    /* margin: 20px; */
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
}

.row >* {
    margin-left: 10px;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.col {
    background-color: rgb(91, 119, 246);
    color: aliceblue;
    flex: 1;
}

.col-2 {
    background-color: rgb(91, 119, 246);
    color: aliceblue;
    flex: 2;
}

.col-3 {
    background-color: rgb(91, 119, 246);
    color: aliceblue;
    flex: 3;
}